<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.toddsgotapen.restoreit</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>00F1381C-8066-410C-9C39-4F93715E757F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>34B77FA0-E257-4FFA-9469-5A0FD4FEA91D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CEA7996-8733-40F3-B2EC-BCC9ABCF813D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>709C8039-564D-4A7E-9BBC-F28430FAA799</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>713F71AE-D10E-4769-88D1-423C40C26D27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A57F8C2-907B-4FAA-B3F9-7935556FD55A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7A77E0D0-1D99-4199-933F-D644CAA33A32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7A401FE9-9C64-4EAC-8177-0408868919AA</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A2EC8477-CD4F-4CE1-BB7E-B09E8B152A44</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F47B7353-FF49-4922-B0DD-56AE410C9DF5</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2EC8477-CD4F-4CE1-BB7E-B09E8B152A44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CEA7996-8733-40F3-B2EC-BCC9ABCF813D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F47B7353-FF49-4922-B0DD-56AE410C9DF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C69B0926-21F3-462C-8401-5CA9753B7C33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5541B80-C274-4D20-8D83-3672D4CDD8BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>033112D3-35BF-40A3-A83A-10C120C363D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Todd Clarke</string>
	<key>description</key>
	<string>Restore your saved brower sessions to save time!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Restore It!</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:res_save}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/specify_session.py "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Save all browser windows &amp; tabs to a new session</string>
				<key>title</key>
				<string>Save a browser session</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>00F1381C-8066-410C-9C39-4F93715E757F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"

if [ "$1" = "open_workflow" ]; then
	open "$alfred_workflow_directory"

elif [ "$1" = "open_data" ]; then
	open "$alfred_workflow_data"

elif [ "$1" = "edit_data" ]; then
	open "$alfred_workflow_data/sessions.json"

else
	python3 scripts/util_${1}.py
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>033112D3-35BF-40A3-A83A-10C120C363D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:res_utils}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>import json
import sys

query = sys.argv[1].lower() if len(sys.argv) &gt; 1 else ""

items = [
    {"title": "Open workflow folder", "arg": "open_workflow"},
    {"title": "Open data folder", "arg": "open_data"},
    {"title": "Backup data file", "arg": "backup_data"},
    {"title": "Edit data file", "arg": "edit_data"},
    #{"title": "Export URLs", "arg": "export_urls"},
    #{"title": "Initialize workflow", "arg": "init_workflow"},
    #{"title": "Reset workflow (volitile ❗)", "arg": "reset_workflow"}
]

filtered = [item for item in items if query in item["title"].lower()]

print(json.dumps({"items": filtered}))
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Various utilities for this workflow</string>
				<key>title</key>
				<string>Run utility command</string>
				<key>type</key>
				<integer>9</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F5541B80-C274-4D20-8D83-3672D4CDD8BF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/create_session.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34B77FA0-E257-4FFA-9469-5A0FD4FEA91D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/overwrite_session.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A57F8C2-907B-4FAA-B3F9-7935556FD55A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/restore_session.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A77E0D0-1D99-4199-933F-D644CAA33A32</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:res_list}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/list_sessions.py "$1"
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List previously saved sessions</string>
				<key>title</key>
				<string>List sessions</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>713F71AE-D10E-4769-88D1-423C40C26D27</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/remove_session.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A401FE9-9C64-4EAC-8177-0408868919AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rename session</string>
				<key>subtext</key>
				<string>Rename this session</string>
				<key>text</key>
				<string>Rename session: {var:current_session_name}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2EC8477-CD4F-4CE1-BB7E-B09E8B152A44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/rename_session.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>709C8039-564D-4A7E-9BBC-F28430FAA799</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>current_session_name</key>
					<string>{var:current_session_name}</string>
					<key>session_id</key>
					<string>{var:session_id}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5CEA7996-8733-40F3-B2EC-BCC9ABCF813D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/view_session.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F47B7353-FF49-4922-B0DD-56AE410C9DF5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cd "$alfred_workflow_directory"
python3 scripts/open_url.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C69B0926-21F3-462C-8401-5CA9753B7C33</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Restore It!

Save &amp; restore all browser windows &amp; tabs to keep control of endless webpages on your screen(s).

Works with: `Chrome, Brave, Safari, Arc &amp; Edge Browsers`

▸ Requires [jq](https://formulae.brew.sh/formula/jq)

## Usage

### Save session

Get your browser windows &amp; tabs just perfect on your screen(s). 

Then... 1) Invoke this workflow 2) Name it 3) Hit enter

Everything saved to restore this session later on. No need to keep open countless tabs for *all* your projects. 

![](assets/save-session.png) 

### Restore session

Invoke this Alfred feature anytime you want to work on that project again. This time without any eye or brain clutter.

![](assets/restore-session.png) 

### It's that easy!</string>
	<key>uidata</key>
	<dict>
		<key>00F1381C-8066-410C-9C39-4F93715E757F</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>specify session</string>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>033112D3-35BF-40A3-A83A-10C120C363D7</key>
		<dict>
			<key>note</key>
			<string>run utils</string>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>0A57F8C2-907B-4FAA-B3F9-7935556FD55A</key>
		<dict>
			<key>note</key>
			<string>overwrite session</string>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>34B77FA0-E257-4FFA-9469-5A0FD4FEA91D</key>
		<dict>
			<key>note</key>
			<string>create session</string>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>5CEA7996-8733-40F3-B2EC-BCC9ABCF813D</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>709C8039-564D-4A7E-9BBC-F28430FAA799</key>
		<dict>
			<key>note</key>
			<string>rename tag</string>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>713F71AE-D10E-4769-88D1-423C40C26D27</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>list sessions</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>7A401FE9-9C64-4EAC-8177-0408868919AA</key>
		<dict>
			<key>note</key>
			<string>remove session</string>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>525</real>
		</dict>
		<key>7A77E0D0-1D99-4199-933F-D644CAA33A32</key>
		<dict>
			<key>note</key>
			<string>restore session</string>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>A2EC8477-CD4F-4CE1-BB7E-B09E8B152A44</key>
		<dict>
			<key>note</key>
			<string>rename session prompt</string>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>C69B0926-21F3-462C-8401-5CA9753B7C33</key>
		<dict>
			<key>note</key>
			<string>open url</string>
			<key>xpos</key>
			<real>895</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>F47B7353-FF49-4922-B0DD-56AE410C9DF5</key>
		<dict>
			<key>note</key>
			<string>view session</string>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>870</real>
		</dict>
		<key>F5541B80-C274-4D20-8D83-3672D4CDD8BF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>invoke utils</string>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Google Chrome</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Chrome</string>
						<string>Google Chrome</string>
					</array>
					<array>
						<string>Brave</string>
						<string>Brave Browser</string>
					</array>
					<array>
						<string>Safari</string>
						<string>Safari</string>
					</array>
					<array>
						<string>Arc</string>
						<string>Arc</string>
					</array>
					<array>
						<string>Edge</string>
						<string>Microsoft Edge</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Select the browser for saving your browser sessions</string>
			<key>label</key>
			<string>Select browser</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>browser</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>res save</string>
				<key>placeholder</key>
				<string>res save</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Save all browser windows &amp; tabs to a new session</string>
			<key>label</key>
			<string>Save browser session keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>res_save</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>res list</string>
				<key>placeholder</key>
				<string>res list</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>List previously saved sessions</string>
			<key>label</key>
			<string>List sessions keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>res_list</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>res utils</string>
				<key>placeholder</key>
				<string>res utils</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>List &amp; run workflow utilities</string>
			<key>label</key>
			<string>Workflow utilities keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>res_utils</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.5.7</string>
	<key>webaddress</key>
	<string>toddsgotapen.com</string>
</dict>
</plist>
