<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>browser</key>
	<string>Brave Browser</string>
	<key>res_list</key>
	<string>resl</string>
	<key>res_save</key>
	<string>ress</string>
	<key>res_utils</key>
	<string>:resu</string>
</dict>
</plist>
